output/output.png
sources/anti nerd.png
sources/baderna.jpg
sources/cafe.jpg
sources/corno.jpg
sources/entrevista.jpg
sources/esquerdinha.jpg
sources/eu e vc.png
sources/gato.png
sources/globo.jpg
sources/hachikuji.png
sources/jew.jpg
sources/jewrabbit.png
sources/macaco doente.jpg
sources/maconheiro.jpg
sources/mamava tudo.jpg
sources/mano brow gato.jpg
sources/mista flamengo.jpg
sources/ohara.jpg
sources/ok.jpg
sources/parabens pekora.jpg
sources/patati.jpg
sources/pekofla.jpg
sources/pekora.jpg
sources/podcast.png
sources/sad shamiko.png
sources/satoko 1945.png
sources/shinobu.jpg
sources/titio.png
sources/torneio de rapariga.png
sources/uga.jpg
sources/uguinha.jpg
sources/viagem para o RJ.png
templates/template3.png
templates/template5.png
templates/template6.png
templates/template7.png
templates/template8.png
.env
sources/pedro henrique.png
.gitignore
sources/so chove.png
